@model  Practica_ASP_Collab.Models.Persona
@using Practica_ASP_Collab.Models
@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario</h2>

@using (Html.BeginForm("Resultados", "Solicitud", FormMethod.Post))
{

    @Html.Label("Cédula:")
    @Html.TextBoxFor(a => a.Cedula, new { @class = "form-control", placeholder = "Ej: 402-1112223-2" })
    @Html.Label("Nombre:")
    @Html.TextBoxFor(a => a.Nombre, new { @class = "form-control", placeholder = "Ej: Mario" })
    @Html.Label("Apellido:")
    @Html.TextBoxFor(a => a.Apellido, new { @class = "form-control", placeholder = "Ej: Gonzalez" })
    @Html.Label("Edad:")
    @Html.TextBoxFor(a => a.Edad, new { @class = "form-control" })
    @Html.Label("Telefono:")
    @Html.TextBoxFor(a => a.Telefono, new { @class = "form-control", placeholder = "Ej: 809-333-4444" })
    @Html.Label("Correo:")
    @Html.TextBoxFor(a => a.Correo, new { @class = "form-control", placeholder = "Ej: mgonzalez@gmail.com" })
    @Html.Label("Genero:")
    <br />
    @Html.Label("Masculino")
    @Html.RadioButtonFor(a => a.Genero, "Masculino")
    @Html.Label("Femenino")
    @Html.RadioButtonFor(a => a.Genero, "Femenino")
    <br />
    @Html.Label("Puesto vacante al que desea aplicar:")
    @Html.DropDownListFor(a => a.Vac, new SelectList(Enum.GetValues(typeof(Vacante))), "Seleccione")
    @Html.Label("Ingrese una foto:")
    <input type="file" />
    @Html.Label("Suba su curriculum vitae")
    <input type="file" />

    <input type="submit" value="Enviar" />



}