
@model Practica_ASP_Collab.Models.Persona

@{
    ViewBag.Title = "Resultados";
}

<h2>Resultados</h2>
<br />
<h4>Cédula: @Model.Cedula</h4>
<h4>Nombre: @Model.Nombre</h4>
<h4>Apellido: @Model.Apellido</h4>
<h4>Edad: @Model.Edad</h4>
<h4>Teléfono: @Model.Telefono</h4>
<h4>Correo: @Model.Correo</h4>
<h4>Genero: @Model.Genero</h4>
<h4>Vacante a la que aplica: @Model.Vac</h4>

